 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello! <%= @user.username %>!</h1>
    <p>We can't wait to see you in class! Thanks for you booking</p>
  <h2>Love Ziggy, Indigo and the Kulu team</h2>
  </body>
</html>