<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.username %>!</h1>
    <p>We can't wait to see you in the studio to breathe, flow and repeat!</p>
  <h2>Love Ziggy, Indigo and the Kulu team</h2>
  </body>
</html>